@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Open+Sans:wght@300;400;600;800&family=Poppins:ital,wght@0,200;0,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

body{
    background-color: gray;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    text-align: right;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

i {
    display: inline-block;
    padding: 12px 13px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2rem;
    text-transform: uppercase;
    letter-spacing: .10rem;
    margin-bottom: 10px; // mexer
}

#social{
    text-align: center;
    margin-left: 40px;
    margin-bottom: 100px;
}



.section-title{
    font-size: 4rem;
    font-weight: 500;
    color: black;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

i:hover {
    border-color: rgb(7, 238, 26);
}

footer{
    display: flex;
    flex-direction: column;
    background-color:#26496e;
    padding: 15px;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}





/* Seção de apresentação */


#nome{
    display: flex;
    text-align: center;
    margin-bottom: 190px;
    position: relative;
    justify-content: center;
    left: 120px;
}

#sobre{
    display: flex;
    text-align: left;
    margin-top: 200px;
}


#presentation .cta {
    display: inline-block;
    padding: 12px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2rem;
    text-transform: uppercase;
    letter-spacing: .10rem;
    margin-bottom: 300px; // mexer
}



#presentation .cta:hover {
    color: yellow;
    font-weight: 600;
    background-color: ; // mexer
}

.presentation.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


#presentation {
    background-image: url(imagens/bg2.jpg);
    background-size: cover;
    background-image: top center;
    position: relative;
    z-index: 1;
    text-align: center;
    position: relative;
    height: 92vh;
}

#presentation a{
}

#presentation h1 {
    margin-bottom: -300px;
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#presentation h3 {
    margin-bottom: -450px;
    margin-right: 200px;
    display: block;
    width: fit-content;
    font-size: 1.5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 2.5s;
}

#presentation h2 {
    margin-bottom: 300px;
    margin-right: -100px;
    display: block;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 3.5s;
    margin-right: -103px;
}



#presentation p > a {
    text-decoration: none;
    color: transparent;
    animation: text_reveal_link .5s ease forwards;
    animation-delay: 3.5s;
}

#presentation h1 h3 h2 p span {
    position: absolute;
    top 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: text_reveal_box 1s ease;
    animation-delay: .2s;
}

#presentation::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}













/* Seção de Portifólio */

#portfolio .portfolio{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
#portfolio .portfolio-header h1{
    margin-bottom: 50px;
}
#portfolio .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#portfolio .project-item{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#portfolio .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #5a10b5 0%, #002349 100%);
    color: white;
}

#portfolio .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}

#portfolio .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#portfolio .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#portfolio .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.7;
}
#portfolio .project-img img{
    transition: 0.5s ease transform;
}
#portfolio .project-item:hover .project-img img{
    transform: scale(1.1);
}

/* Keyframes */


@keyframes text_reveal {
    100% {
        color: white;
    }
}


@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left:100%;
    }
}

@keyframes text_reveal_link {
    100% {
        color: hsl(61, 100%, 50%);
    }
}

/* Media Query */
@media only screen and (min-width: 768px) {
    #portfolio .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #portfolio .all-projects .project-info{
        height: 100%
    }
    #portfolio .all-projects .project-img{
        height: 100%
    }
    #portfolio .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }


}

a{
    color: white;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(2, 2, 2);
    height: 8vh;
    
    
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}



